<a href="https://colab.research.google.com/github/lee20061109/-/blob/main/%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
a=[1,2,3]
print()
print(a[0])
print(a[0]+a[2])
b=[1,2,3,['a','b','c']]
print(b[0]);print(b[-1]);print(b[3])
c=[1,2,['a','b',['life','is']]]
print(c[2][2][0])

1
4
1
['a', 'b', 'c']
['a', 'b', 'c']
life

In [11]:
a=[1,2,3,4,5]
print(a[:2]);print(a[2:]);print(a[1:3])
b=[1,2,3,['a','b','c'],4,5]
print(b[2:4])
print(b[3][:2])

[1, 2]
[3, 4, 5]
[2, 3]
[3, ['a', 'b', 'c']]
['a', 'b']

In [18]:
a=[1,2,3,];b=[4,5,6]
print(a+b);print(a*3)
print(len(a))

print(a[2],"hi")
print(str(a[2])+"hi")

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3
3 hi
3hi

In [21]:
a=[1,2,3,4,5]
a[2]=7
print(a)

del a[1];print(a)
del a[2:];print(a)

[1, 2, 7, 4, 5]
[1, 7, 4, 5]
[1, 7]

In [28]:
a=[1,2,3];
a.append(4);print(a)

b=[1,4,3,2]
b.sort(reverse=True); print(a)
c=['a','b','c']
print(c);c.sort();print(c)

d=['a','b','c']
print(d); d.reverse(); print(d)

[1, 2, 3, 4]
[1, 2, 3, 4]
['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']
['c', 'b', 'a']

In [ ]:
a=[1,2,3]
insert(0,4);print(a)
insert(3,5);print(a)

b=[1,2,3,1,2,3]
remove(3);

In [29]:
a=[1,2,3,4,1,2,3]
print(a.count(1)); print(a.count(4))

b=[1,2,3]
b.extend([4,5,6,7]); print(b)
b.extend([1,2]); print(b)
c=[1,2,3]
c += [4,5]; print(a)

2
1
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 1, 2]
[1, 2, 3, 4, 1, 2, 3]

In [30]:
t1=(1,2,'a','b')

print(t1[0],t1[3])

print(t1[1:])

t2=(3,4); print(t1+t2)

print(t2*3)

print(len(t1),len(t2))

print(t2+(5,))

1 b
(2, 'a', 'b')
(1, 2, 'a', 'b', 3, 4)
(3, 4, 3, 4, 3, 4)
4 2
(3, 4, 5)

In [31]:
a={1:'a'}; print(a)
a[2]='b';print(a)
a['name']='duk';print(a)
a[3]=[1,2,3]; print(a)

{1: 'a'}
{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': 'duk'}
{1: 'a', 2: 'b', 'name': 'duk', 3: [1, 2, 3]}

In [ ]:
a={}