<a href="https://colab.research.google.com/github/lee20061109/-/blob/main/%EC%A7%91%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s=set(); print(s)
s1=set([1,2,3]);print(s1)
s2=set("Hello");print(s2)
l1=list(s1);print(l1)
t1=tuple(s1);print(t1)

set()
{1, 2, 3}
{'o', 'l', 'H', 'e'}
[1, 2, 3]
(1, 2, 3)

In [ ]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])
print(s1&s2)
print(s1.intersection(s2))
print(s1|s2)
print(s1.union(s2))
print(s1-s2)
print(s1.difference(s2))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}

In [ ]:
s1=set([1,2,3]);print(s1)
s1.add(4);print(s1)
s1=set([1,2,3]);print(s1)
s1.update([4,5,6]);print(s1)
s1.remove(4) ; print(s1)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 5, 6}

In [ ]:
a=[1,2,3] ; b=a ; print(a, b) 
print(id(a), id(b)) 
print(a is b) 
a[1]=4 ; print(a, b) 
print()
a=[1,2,3] ; b=a[:] ; print(a, b) 
print(id(a), id(b)) 
print(a is b) 
a[1]=4 ; print(a, b)

[1, 2, 3] [1, 2, 3]
140501242781120 140501242781120
True
[1, 4, 3] [1, 4, 3]

[1, 2, 3] [1, 2, 3]
140501242884176 140501242778640
False
[1, 4, 3] [1, 2, 3]

In [ ]:
from copy import copy 
a=[1,2,3] 
b=copy(a) 
print(a is b) 
print(id(a), id(b))

False
140501243606432 140501243715824

In [ ]:
money = True 
if money : 
 print("택시를 타고 가라") 
 
money = 2000 
if money >=3000 : 
 print("택시를 타고 가라") 
else : 
 print("걸어 가라") 
 
money = 2000; card = True 
if money >=3000 or card : 
 print("택시를 타고 가라") 
else : 
 print("걸어 가라")

택시를 타고 가라
걸어 가라
택시를 타고 가라

In [ ]:
print(1 in [1,2,3]) 
print('a' not in ('a','b','c')) 
print('y' in 'python') 
 
pocket =['paper','phone','money'] 
if 'money' in pocket : 
 print("택시를 타고 가라") 
else : 
 print("걸어 가라") 
 
pocket =['paper','phone','card'] 
if 'money' in pocket : 
 pass 
else : 
 print("카드를 꺼내라")

In [ ]:
pocket=['paper','phone'];card=True
if'money' in pocket:
  print("택시를 타고 현금 결제")
elif card:
  print("택시를 타고 카드 결제")
  else:
    print("걸어가라")

SyntaxError: ignored

In [ ]:
score = 90 
if score >= 60 : 
 message = 'success' 
else : 
 message = 'fail' 
print(message)

success

In [ ]:
i=1;sum=0 
while i<=10 : 
 sum = sum + i # sum += i 
 print(i,sum) 
 i=i+1 
print('1부터 10까지의 합 :', sum) 
print() 
sum=0 
for i in range(1,11) : 
 sum=sum+i 
 print(i,sum) 
print('1부터 10까지의 합 :',sum)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
1부터 10까지의 합 : 55

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
1부터 10까지의 합 : 55

In [ ]:
sum=0 
for k in range(1,11,2) : 
 sum=sum+k 
 print(k,sum) 
print('1부터 10까지의 홀수 합 :',sum) 
print()

sum=0 
for k in range(2,11,2) : 
 sum=sum+k 
 print(k,sum) 
print('1부터 10까지의 짝수 합 :',sum)

1 1
3 4
5 9
7 16
9 25
1부터 10까지의 홀수 합 : 25

2 2
4 6
6 12
8 20
10 30
1부터 10까지의 짝수 합 : 30

In [ ]:
a=[1,2,3,4,5] 
while a : 
 a.pop() 
 print(a) 
 if len(a)==2 : break 
print()

a=0 
while a<10 : 
 a=a+1 
 if a%2 == 0 : continue 
 print(a)

[1, 2, 3, 4]
[1, 2, 3]
[1, 2]

1
3
5
7
9

In [ ]:
a=0
while True:
  a=a+1
  print(a)
if a >= 10  : break
print("이젠그만")